<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../CSS/about_us.css">
<body>
<section class="head">
    <div class="navbar">
        <div class="logo">Hotel Booking</div>
        <div class="menu">
            <a href="Home.html">Home</a>
            <a href="#">Rooms</a>
            <a href="#">Booking</a>
            <a href="About_us.html">About Us</a>
        </div>   
    </div>
    <div class="header">
        <div class="heading">
            <h1>About Us</h1>
            <p>
                At [Hotel Name], we believe hospitality is not just a service—it's an experience. Our mission is to provide each guest with a memorable stay, blending comfort, elegance, and warm personalized care. With years of dedication in the hospitality industry, we’ve built a reputation for excellence and attention to detail.
            </p>
            <p>
                From our beautifully appointed rooms to our state-of-the-art amenities and exceptional staff, every aspect of our hotel is designed to make you feel at home. Whether you're here for business, leisure, or a special occasion, [Hotel Name] is your sanctuary of peace and luxury.
            </p>
        </div>
    </div>
</section>
<section class="about-content">
    <div class="about-text">
        <h2>Developers</h2>
    </div>
    <div class="about-items">
        <div class="about-item">
            <div class="developer">
                <img src="../Image/developer1.jpg" alt="Developer 1" class="about-img">
            </div>
            <h3>Lawrence Bontog</h3>
        </div>
        <div class="about-item">
            <div class="developer">
                <img src="../Image/developer2.jpg" alt="Developer 1" class="about-img">
            </div>
            <h3>Verwin Gonzalez</h3>
        </div>
        <div class="about-item">
            <div class="developer">
                <img src="../Image/developer3.jpg" alt="Developer 1" class="about-img">
            </div>
            <h3>Jonel Curay</h3>
        </div>
    </div>
</section>
<section class="footer">
    <div class="footer-content">
        <p>&copy; 2025 [Hotel Name]. All rights reserved.</p>
        <br>
        <p>Contact us:</p>
    </div>
</section>
<script src="../JS/About_us.js"></script>
</body>
</html>